* {
  box-sizing: border-box;
}

body {
  /* font-family: sans-serif; */
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
body.theme-1 {
  --numkey-color: white;
  --numkey-text-color: hsl(221, 14%, 31%);
  --numkey-shadow-color: hsl(28, 16%, 65%);

  --keypad-background-color: hsl(223, 31%, 20%);
  --background-color: hsl(222, 26%, 31%);

  --text-color: white;

  --display-color: hsl(224, 36%, 15%);
  --display-text-color: white;

  --equals-key-color: hsl(6, 63%, 50%);
  --equals-key-text-color: white;
  --equals-key-shadow-color: hsl(6, 70%, 34%);

  --del-key-color: hsl(225, 21%, 49%);
  --del-key-text-color: white;
  --del-key-shadow-color: hsl(224, 28%, 35%);
}
#header {
  padding: 0px;
  color: var(--text-color);
}
#keypad-container {
  /* margin: auto; */
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  grid-template-rows: 60px 60px 60px 60px 60px;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  background-color: var(--keypad-background-color);
  border-radius: 5px;
}
#display {
  background-color: var(--display-color);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  font-weight: 700;
  color: var(--display-text-color);
  text-align: right;
  /* height: 70px; */
  /* border: 1px solid black; */
  border-radius: 5px;
}
#calculator {
  flex-basis: 320px;
  /* border: 1px solid black; */
}
#calculator > div {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}
button {
  border: none;
  background-color: var(--numkey-color);
  color: var(--numkey-text-color);
  box-shadow: inset 0px -5px 0px 0px var(--numkey-shadow-color);
  font-size: 0.8em;
  font-weight: 800;
  /* text-align: center; */
  border-radius: 5px;
  cursor: pointer;
}
#reset,
#del {
  font-size: 0.5em;
  background-color: var(--del-key-color);
  color: var(--del-key-text-color);
  box-shadow: inset 0px -5px 0px 0px var(--del-key-shadow-color);
}
#equal {
  font-size: 0.5em;

  box-shadow: inset 0px -5px 0px 0px var(--equals-key-shadow-color);

  background-color: var(--equals-key-color);
  color: var(--equals-key-text-color);
}
/* #keypad-container && */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
}
